@import '../../../global';

.service{
    width: 100%;
    height: 750px;
    margin-top: 130px;
    position: relative;
    &__top{
        width: 70%;
        height: 55%;
        background-color: white;
        position: relative;
        &-box{
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            height: 50%;
            .service__box-name{
                font-family: $font;
                font-weight: 600;
            }
            .service__box-line{
                @include hr;
                position: absolute;
                top: 11px;
                left: 85px;
            }
            .service__box-title{
                @include h2;
            }
            .service__box-text{
                color: $prgr;
                font-family: $font;
            }
        }
        &-list{
            display: flex;
            width: 100%;
            height: 50%;
            list-style: none;
            flex-direction: column;
            .service__top-item{
                display: flex;
                flex: 1;
                align-items: center;
                position: relative;
                .service__item-num{
                    color: $text;
                    font-family: $font;
                }
                .service__item-title{
                    color: $text;
                    font-family: $font;
                    margin-left: 30px;
                }
                .fa-arrow-right{
                    position: absolute;
                    right: 30px;
                    font-size: 20px;
                }
            }
        }
    }
    &__bottom{
        width: 85%;
        height: 63%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        &-img{
            width: 100%;
            height: 100%;
        }
    }
}